/* hero section */
.hero-section {
    width: 100%;
    height: 460px;
    background-size: cover;
    padding: 0 120px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: center;
}

.hero-section p {
    color: white;
}

.hero-section h1 {
    color: white;
    font-size: 48px;
    margin-bottom: 8px;
}

.hero-text p {
    font-size: 18px;
    margin-top: 0;
}

.hero-shopping {
    margin-top: 40px;
    display: flex;
    gap: 60px;
}

.hero-tag {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-tag img {
    width: 20px;
    height: 20px;
}

/* filter */
.filter {
    margin: 40px 120px;
    display: flex;
    align-items: center;
}
.filter > p {
    color: #727272;
    margin-left: auto;
}
.filter-button {
    height: 48px;
    padding: 16px 24px;
    background-color: white;
    border: none;
    border-radius: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.filter-button img {
    width: 20px;
    height: 17px;
}
.filter-button p {
    font-size: 18px;
    font-weight: 550;
    color: #472f91;
}

.product-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 80px;
}
.discount-badge {
    width: 72px;
    height: 32px;
    border-radius: 23px;
    background-color: #a9fe63;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    position: absolute;
    top: 20px;
    left: 20px;
    
}
.discount-badge p {
    font-size: 14px;
    font-weight: 500;
    margin: 0px;
}
.product-row {
    display: flex;
    padding: 4px 120px;
    gap: 30px;
}
.product-card {
    box-sizing: border-box;
    width: 277px;
    height: 400px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    position: relative;
}
.product-card > img {
    height: 220px;
    align-self: center;
    margin-bottom: 20px;
}
.product-card > p {
    font-size: 18px;
    font-weight: 550;
    margin: 4px;
}
.add-to-cart-home {
    border: none;
    background: linear-gradient(90deg, #6a40ff 0%, #a06fff 100%);
    width: 86px;
    height: 32px;
    border-radius: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px, 15px, 5px, 15px;
    gap: 10px;
    align-self: flex-end;
    margin-top: auto;
}
.add-to-cart-home img {
    width: 16px;
    height: 16px;
}
.add-to-cart-home p {
    font-size: 16px;
    color: white;
    font-weight: 550;
}
